#header {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .header-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    .logo {
      width: 100px;
      height: 100px;
    }
  }
}
