#notification-container {
  position: fixed;
  z-index: 9999;
  right: 20px;
  top: 10px;
  .notification {
    color: black;
    transition:  all 0.3s  ease;
    font-size: 18px;
    .success {
      background-color: rgba(25, 114, 37, 0.1);
       border-left-color: #3fb950;
    }
    .warning {
      background-color: rgba(247, 133, 57, 0.1);
      border-left-color: #d29922;
    }
    .error {
      background-color: rgba(185, 32, 32, 0.1);
      border-left-color: #f85149; 
    }
    .info {
      background-color: rgba(31, 66, 112, 0.1);
      border-left-color: #1951b9; 
    }
  }
}

@media (max-width: 600px) {
  #notification-container {
    right: 10px; 
    top: 10px;
    align-items: center; 
  }
  
  .notification {
    font-size: 16px;
    max-width: calc(100vw - 20px); 
  }
}