<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller de Mecánica Diego</title>
    <link rel="stylesheet" href="../styles/css/home.css">
    <link rel="stylesheet" href="../styles/css/side_bar.css">
</head>
<body>   
    <div id="app">
    </div>
    <div class="main-content">
            <div class="content">
                <section class="welcome-alert">
                    <h2>¡Bienvenido Diego!</h2>
                    <div class="alert-content">
                        <h3>¡5 Productos a punto de acabarse!</h3>
                        <a href="#">Ver productos</a>
                    </div>
                </section>
                <section class="dashboard-card-grid">
                    <article class="card">
                        <h3>Productos en inventario</h3>
                        <p>180</p>
                        <a href="#">Ver productos <img src="../assets/icons/right-arrow.png" alt="" class="arrow"></a>
                    </article>
                    <article class="card">
                        <h3>Ventas recientes</h3>
                        <p>$250.000</p>
                        <a href="#">Ver reportes <img src="../assets/icons/right-arrow.png" alt="" class="arrow"></a>
                    </article>
                    <article class="card">
                        <h3>Servicios activos</h3>
                        <p>3</p>
                        <a href="#">Gestionar <img src="../assets/icons/right-arrow.png" alt="" class="arrow"></a>
                    </article>
                </section>
            <section class="botton-actions">
                <section class="quick-actions">
                    <h3 class="title-h3">Acciones rápidas</h3>
                    <ul class="list-action">
                        <li class="card-action"><a href="#">+ Nuevo servicio</a></li>
                        <li class="card-action"><a href="#">+ Agregar producto</a></li>
                        <li class="card-action"><a href="#">+ Orden de servicio</a></li>
                        <li class="card-action"><a href="#">+ Registrar personal</a></li>
                        <!--
                        <li class="card-action">
                            <a href="#">
                                <img src="../assets/icons/report.png" alt="Generar reporte" class="logo">
                                <span>Generar reporte</span>
                            </a>
                        </li>
                        -->
                    </ul>
                </section>

                <section class="recent-activities">
                    <h3  class="title-h3">Actividades recientes</h3>
                    <ul class="list-recent-activities">
                        <li class="item-recent=activities">
                            <img src="../assets/icons/checked.svg" alt="" class="checked">
                            <div class="item-recent=activities-text">
                                <p>Se realizó el cambio de aceite</p>
                                <time datetime="2025-09-27T12:00">Hace 5 horas</time>
                            </div>
                        </li>
                        <li class="item-recent=activities">
                            <img src="../assets/icons/checked.svg" alt="" class="checked">
                            <div class="item-recent=activities-text">
                                <p>Nuevo servicio programado de Alex</p>
                                <time datetime="2025-09-26T18:00">Hace 23 horas</time>
                            </div>
                        </li>
                        <li class="item-recent=activities">
                            <img src="../assets/icons/checked.svg" alt="" class="checked">
                            <div class="item-recent=activities-text">
                                <p>Se realizó un cambio de bujía a Fabián</p>
                                <time datetime="2025-09-27T07:00">Hace 10 horas</time>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
            </div>
    </div>
    <script type="module">
        import { loadSideBar } from '../scripts/componets/side_bar.js';
        document.getElementById('app').innerHTML = loadSideBar();
    </script>
</body>
</html>
