<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller de Mecánica Diego</title>
    <link rel="stylesheet" href="../styles/css/inventary.css"> 
    <link rel="stylesheet" href="../styles/css/side_bar.css">
    <link rel="stylesheet" href="../styles/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header"></div>
    <div class="container">
        <div id="side-bar-container" class="side-bar-container"></div>
        <div id="mobile-menu-container"></div>

        <main class="main-content">
            <h1>Gestion de inventario</h1>
            <div class="card">
                <a href="#">
                    <p>Nuevo producto</p>
                </a>
            </div>
            <section class="form-inventary">
                <h2>Inventario</h2>
                <form id="inventory-form" class="inventory-form">
                    <div class="search-box">
                        <img src="../assets/icons/search.png" alt="Buscador" title="Buscar">
                        <input type="text" name="search" placeholder="Buscar producto">
                    </div>

                    <div class="section-filter">
                        <div class="category-filter">
                            <h3>Categoría</h3>
                            <ul class="category-option">
                                <li><label><input type="checkbox" name="category" value="sparkPlugs"> Bujías</label></li>
                                <li><label><input type="checkbox" name="category" value="filter"> Filtro</label></li>
                                <li><label><input type="checkbox" name="category" value="carOil"> Aceites</label></li>
                            </ul>
                        </div>

                        <div class="stock-filter">
                            <h3>Stock</h3>
                            <ul>
                                <li><label><input type="checkbox" name="stock" value="low"> Stock bajo</label></li>
                            </ul>
                        </div>

                        <div class="price-filter">
                            <h3>Precio</h3>
                            <div>
                                <input type="number" name="min-price" placeholder="Min">
                                <input type="number" name="max-price" placeholder="Max">
                            </div>
                        </div>
                    </div>

                    <button type="submit">Filtrar</button>
                </form>
            </section>

            <section class="inventary-data">
                <div class="inventory-header grid-layout" role="row">
                    <div class="header-item" role="columnheader">Nombre</div>
                    <div class="header-item" role="columnheader">Descripción</div>
                    <div class="header-item" role="columnheader">Stock</div>
                    <div class="header-item" role="columnheader">Precio de Compra</div>
                    <div class="header-item" role="columnheader">Precio de Venta</div>
                    <div class="header-item" role="columnheader">Acciones</div>
                </div>
                
                <div class="product-list">
                </div>
            </section>
        </main>
        
    </div>
    <script type="module" src="../scripts/inventary.js"></script>
</body>
</html>